*{
    margin: 0;
    padding: 0;
}
h1{
    color: brown;
}
body{
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    /*outline: 2px solid black;*/
    height: 98vh;
}